<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751130821838-bdrvsb8rldabdnk6fh875ffsvtbamhbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751130821838-bdrvsb8rldabdnk6fh875ffsvtbamhbr</string>
	<key>API_KEY</key>
	<string>AIzaSyAmPGmGI5ZZG7hYVXI_qyNUK4lD7xAc9qM</string>
	<key>GCM_SENDER_ID</key>
	<string>751130821838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takaki.yomi</string>
	<key>PROJECT_ID</key>
	<string>yomi-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>yomi-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751130821838:ios:b72d828f15c8712a787c9f</string>
</dict>
</plist>